@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

*::selection {
  background: none;
  color: rgb(0, 255, 72);
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #1E1E20;
  color: #717171;
  font-family: Inter;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::after,
body::before {
  position: fixed;
  width: 200px;
  height: 200px;
  content: '';
  background-color: #717171;
  top: 0;
  right: 0;
  border-radius: 10px 30px 600px 100px;
  filter: blur(100px);
  pointer-events: none;
}

body::after {
  top: unset;
  right: unset;
  bottom: 0;
  left: 0;
  border-radius: 100px 30px 600px 100px;
}

::-webkit-scrollbar {
  display: none;
}

a:active,
button:active {
  background-color: initial;
}

p {
  font-size: 15px;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'poppins';
  font-weight: 500;
  text-align: center;
  position: relative;

}

span {
  color: #717171;
}

img {
  width: 100px;
}

input::placeholder {
  font-family: "fredoka";
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  color: rgb(180, 180, 180);
  font-family: 'fredoka';
  font-weight: 500;
}

button,
input {
  all: unset;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 10px 30px #0005;
  border: 1px solid #71717188;
  transition: background-image 0.5s, opacity .5s, border .5s;
  width: 280px;
  height: 25px;
  margin-bottom: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#togglePassword {
  position: absolute;
  margin: 15px 0px 0px -30px;
  cursor: pointer;
}

.fade-scale-out {
  animation: fade-scale-out 1s forwards;
}

@keyframes fade-scale-out {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}

.fade-scale-in {
  animation: fade-scale-in 1s forwards;
}

@keyframes fade-scale-in {
  0% {
    opacity: 0;
    transform: scale(1.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#content_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 2s;
}

#form_container {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

#form_header_container {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid transparent;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#form_header {
  position: absolute;
  font-size: 25px;
  letter-spacing: 1px;
  color: #fff;
  font-family: 'poppins';
  font-weight: 700;
  margin-bottom: -20px;
}

#form_content_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#form_content_inner_container {
  width: 500px;
}

#button_container {
  width: 100%;
  height: 8%;
  margin-top: 5px;
}

#button_login {
  display: none;
}

#button_container button {
  width: 280px;
  height: 25px;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'poppins';
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.signup button {
  background: rgb(255, 204, 0);
  color: rgb(0, 0, 0);
}

.login button {
  background: rgba(165, 165, 166, 0);
  color: wheat;
}